$modal-width: 800px;

section.payment {
  min-width: $modal-width;
  min-height: 70vh;
  background-color: #16192A;

  .payment-modal-tabs {
    text-transform: uppercase;
  }

  mat-tab-body {
    padding-top: 20px;
  }

  .mdc-tab:not([aria-selected="true"]) .payment-modal-tab-label { // explain: .mdc-tab can't access without encapsulation: ViewEncapsulation.None
    color: white;
  }
}
