<section [class]="data.paymentAction + ' payment'">
  <mat-dialog-content>
    <mat-tab-group animationDuration="0ms" class="payment-modal-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="payment-modal-tab-label">Deposit</span>
        </ng-template>
        <ng-template matTabContent>
          <app-deposit-content></app-deposit-content>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span class="payment-modal-tab-label">Withdraw</span>
        </ng-template>
        <ng-template matTabContent>
          <app-withdraw-content></app-withdraw-content>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">no</button>
    <button mat-button cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</section>
