.deposit-content {
  .qrcode {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .shadow-qr {
    canvas {
      opacity: .2;
    }
  }

  .loader-deposit {
    min-height: 260px;
  }

}
