section.currency-selector {

  .mdc-text-field {
    background-color: transparent; 
  }

  mat-form-field {
    width: 250px;
  }

  mat-label {
    font-size: 16px;
  }

  mat-label, .mat-mdc-select-arrow-wrapper svg {
    color: white;
  }
  
  .mat-mdc-select-value-text {
    color: #00e18b;
  }

  .mdc-line-ripple {
    display: none;
  }
}
